/*Bild på min kanin*/
.kaninbild {
    object-fit: contain;
    display: block;
    max-width: 360;
    max-height: 100%;
}   

.maincontent{
    display:flex;
    flex-direction:row;
}

.tabdiv{
    align-content: flex-end;
}

.tabcontent{
    display:flex;
    flex-direction: column;
}

/*Header*/
h1 {
    text-align: center;
}   

/*Konfigurerar listans utseende*/
.navbar {
    display: flex;
    flex-direction: column;
width: 20%;
height: 100%;
position:fixed;
background-image: linear-gradient(rgb(28, 26, 26),rgb(87, 80, 80));
}

/*Konfigurerar knappens utseende så att den inte syns*/
button {
border: none;
outline: none;
background-color: inherit;
}

/*Konfigurerar innehållet i navbaren*/
.tablinks{
color: white;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

/*Highlightar knappen man håller över genom att byta dess färg*/
button :hover {
background-color: rgb(108, 102, 102);
}
/*Visar vilket alternativ man redan är på med en unik färg*/
.active {
background-color: rgb(108, 102, 102);;
}  
