body {
    padding: 0;
    margin: 0;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Kanin.jpg");
    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.page-container {
    width:100%;
    height: 50px;

    background-color: rgb(28, 26, 26);
}

/*Header*/
h1 {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}   

/*Bild på min kanin*/
.kanin-bild {
    object-fit: contain;
    display: block;
    max-width: 360px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}   

.main-content{
    height: 100%;
    display:flex;
    flex-direction:row;
}

.page-content {
    order: 2;
    flex-grow: 2;
}

/*Konfigurerar nav-barens utseende*/
.nav-bar {
    order: 1;

    display: flex;
    flex-direction: column;

    margin-right: 1%;
    width: 20%;
    height: inherit;
    position:sticky;
    top: 2%;
    background-image: linear-gradient(rgb(28, 26, 26),rgb(87, 80, 80));
}

/*Konfigurerar knappens utseende så att den inte syns*/
button {
    border: none;
    outline: none;
    background-color: inherit;
}

/*Konfigurerar innehållet i navbaren*/
.nav-bar__tab {
    color: white;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;    
    
    padding-top: 20px;
    padding-bottom: 20px;   
}

/*Visar vilket alternativ man redan är på med en unik färg*/
.active {
    background-color: rgb(108, 102, 102);;
}  
